section {
  display: flex;
  justify-content: center;
}
form {
  width: 380px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
label {
  color: #586069;
}

input {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 15px;
  margin-top: 5%;
}

.two-columns {
  display: flex;
}

.two-columns {
  width: 41.5%
}
 input:last-of-type {
   margin-bottom: auto;
 }
 form span {
   display: block;
   font-size: .8em;
   margin-left: 2.5%;
   color: gray;
 }

 body {
   font-family: -apple-system,BlinkMacSystemFont,
   "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 }
